@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";

/* style.css 파일에는 font-family와 같이 모든 스크린에 적용될 수 있는 스타일을 쓰는 게 좋다 (또는 배경색)*/
body {
  font-family: "Open Sans", sans-serif;
  height: 1000vh;
  color: #2f363e;
}
