#chat-screen {
  background-color: #abc1d1;
}

.chat-status-bar {
  background-color: #abc1d1;
}

#chat-screen .alt-header {
  background-color: #abc1d1;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
.main-chat {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 10px 15px;
  margin-bottom: 25px;
  font-size: 14px;
  border-radius: 25px;
}

.message-row {
  width: 100%;
  display: flex;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 30%;
  margin-right: 10px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__author {
  display: block;
  opacity: 0.8;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 8px;
}

.message__bubble {
  background-color: white;
  font-size: 18px;
  padding: 8px;
  margin-right: 5px;
  font-weight: 600;
  border-radius: 10px;
  border-top-left-radius: 0px;
}

.message__time {
  opacity: 0.8;
  font-size: 13px;
  font-weight: 600;
}
