.user-component__subtitle i {
    margin-left: 5px;
    font-size:15px;
    color: tomato;
    opacity: 0.8;
}

.more-suggestions {
    margin-top: 30px;
    border-top:var(--main-border);
    padding-top: 20px;
    font-weight: 600;
}

.more-suggestions__title {
    margin-bottom: 17px;
}