.settings__setting {
  padding: 20px var(--horizontal-space);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting i {
  opacity: 0.95;
  margin-right: 24px;
  font-size: 24px;
}

.settings__setting:first-child i {
  margin-right: 18px;
}

.settings__setting-column:last-child {
  opacity: 0.5;
}

.settings-list {
  padding-top: 87px;
}
